@use 'variables' as v;
@use 'helpers' as h;

// Additional browsers style reset
html {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input,
button {
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

a,
li {
  list-style: none;
  text-decoration: none;
}

// General display setup
html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: rgba(v.$wit, 1);
}

a {
  color: v.$wit;
}

// MAin App Background
body {
  min-height: 100vh;
  background: linear-gradient(
    110deg,
    rgba(v.$bgSec, 1) 35%,
    rgba(v.$bgMain, 1) 65%
  );
  width: 100%;
}

.body {
  &-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // flex-grow: 1;
    // min-height: 15rem;}
  }
}
// Top Colored line
.top-line {
  height: 0.2rem;
  width: 100%;
  background: linear-gradient(
      90deg,
      rgba(v.$blu, 1) 20%,
      rgba(v.$orange, 0) 40%
    ),
    linear-gradient(110deg, rgba(v.$orange, 1) 65%, rgba(v.$ylw, 1) 80%);
}

// ==== Utilities - START ====
// Container
.container {
  width: 100%;

  @media (min-width: v.$small) {
    max-width: 480px;
  }
  @media (min-width: v.$med) {
    max-width: 768px;
  }
  @media (min-width: v.$large) {
    max-width: 992px;
  }
  @media (min-width: v.$xlarge) {
    max-width: 1200px;
  }
}

// Center
.center {
  margin: 0 auto;

  &-h {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }

  &-v {
    display: flex;
    margin: 0 auto;
    align-items: center;
  }

  &-max {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
  }
}

// ==== Utilities - END ====
