@use 'variables' as v;

// Hero Section
.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 0.5rem;
  padding: 0.5rem;

  // Illustration
  &-img {
    img {
      max-width: 100%;
      border-radius: 1rem;
    }

    @media (min-width: v.$large) {
      max-width: 50%;
    }
  }

  // Text & CTA Content
  &-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    color: v.$wit;

    &--text {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      gap: 1rem;

      .h1 {
        font-size: 4rem;
        font-weight: 700;
      }

      .h2 {
        font-size: 2rem;
        font-weight: 500;

        @media (min-width: v.$med) {
          font-size: 2.5rem;
          font-weight: 600;
        }
      }

      .p {
        font-size: 1.25rem;
        color: v.$bgGray;
      }
    }

    // &--cta {
    // }

    // Content on Large Screens
    @media (min-width: v.$large) {
      max-width: 50%;
    }
  }

  @media (min-width: v.$large) {
    flex-direction: row-reverse;
  }
}

// CTA-Btn--hero
.cta-btn--hero {
  display: block;
  background-color: v.$blu;
  border: 2px solid v.$blu_d;
  color: v.$wit;
  border-radius: 0.5rem;
  font-weight: 600;
  padding: 1rem;
  cursor: pointer;
}

.cta-btn--hero:hover {
  background-color: v.$blu_d;
  color: v.$wit;
  border: 2px solid v.$blu;
}
