// Breakpoints setup
$small: 480px;
$med: 768px;
$large: 992px;
$xlarge: 1200px;

// Colors
$bgMain: #121212;
$bgSec: #07111a;
$bgT: #1d2023;
$bgGray: #d0d1d3;

$wit: #fff;
$ylw: #fff200;
$ylw_d: #fecd48;
$orange: #fe5945;
$blu: #4169e1;
$blu_d: #2445a6;

// darken(*, 10%);
// lighten(*, 10%);
