html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

img {
  border-style: none;
}

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

[type=button],
[type=reset],
[type=submit],
button {
  -moz-appearance: button;
       appearance: button;
  -webkit-appearance: button;
}

[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -moz-appearance: textfield;
       appearance: textfield;
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

input,
button {
  outline: none;
  border: none;
  background-image: none;
  background-color: transparent;
  box-shadow: none;
  margin: 0;
  padding: 0;
}

a,
li {
  list-style: none;
  text-decoration: none;
}

html {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: white;
}

a {
  color: #fff;
}

body {
  min-height: 100vh;
  background: linear-gradient(110deg, #07111a 35%, #121212 65%);
  width: 100%;
}

.body-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-line {
  height: 0.2rem;
  width: 100%;
  background: linear-gradient(90deg, royalblue 20%, rgba(254, 89, 69, 0) 40%), linear-gradient(110deg, #fe5945 65%, #fff200 80%);
}

.container {
  width: 100%;
}
@media (min-width: 480px) {
  .container {
    max-width: 480px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

.center {
  margin: 0 auto;
}
.center-h {
  display: flex;
  margin: 0 auto;
  justify-content: center;
}
.center-v {
  display: flex;
  margin: 0 auto;
  align-items: center;
}
.center-max {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.navbar {
  border-bottom: 2px solid #242424;
}

.menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 0 0.5rem;
  background-color: transparent;
}
.menu li a {
  display: block;
  padding: 0.6rem 0.3rem;
}
.menu li.cta-btn--top a {
  padding: 0.7rem 1rem;
}
@media (min-width: 992px) {
  .menu {
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 0 auto;
    max-width: 1200px;
  }
}

.logo {
  font-size: 1.25rem;
  padding: 0.5rem 0.7rem 0.5rem 0;
  flex: 1;
  order: 0;
}
@media (min-width: 992px) {
  .logo {
    align-self: center;
  }
}

.item {
  order: 3;
  width: 100%;
  text-align: center;
  display: none;
}
.item.cta-btn--top {
  order: 1;
  padding: 0.6rem 0.32rem;
  width: auto;
  display: block;
}
@media (min-width: 992px) {
  .item.cta-btn--top {
    order: 2;
    margin-left: 1rem;
  }
}
.item:not(.cta-btn--top) a:hover,
.item .item a:hover::after {
  color: #d0d1d3;
}
@media (min-width: 992px) {
  .item {
    order: 1;
    display: block;
    width: auto;
  }
  .item:not(.cta-btn--top) {
    padding: 0;
    align-self: center;
  }
}

.active .item {
  display: block;
}

.divider {
  border-bottom: 1px solid #242424;
}
@media (min-width: 992px) {
  .divider {
    border-bottom: 0;
  }
}

.cta-btn--top a {
  background-color: #4169e1;
  border: 2px solid #2445a6;
  color: #fff;
  border-radius: 0.5rem;
  font-weight: 600;
}

.cta-btn--top a:hover {
  background-color: #2445a6;
  color: #fff;
  border: 2px solid #4169e1;
}

.toggle {
  order: 2;
  flex: 1;
  text-align: right;
  font-size: 1.5rem;
}
@media (min-width: 992px) {
  .toggle {
    display: none;
  }
}

.hero-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  gap: 0.5rem;
  padding: 0.5rem;
}
.hero-section-img img {
  max-width: 100%;
  transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
}
@media (min-width: 992px) {
  .hero-section-img {
    max-width: 50%;
  }
}
.hero-section-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #fff;
}
.hero-section-content--text {
  padding: 1rem;
}
.hero-section-content--text h1 {
  font-size: 3rem;
}
.hero-section-content--text p {
  font-size: 1.25rem;
  color: #d0d1d3;
}
@media (min-width: 992px) {
  .hero-section-content {
    max-width: 50%;
  }
}
@media (min-width: 992px) {
  .hero-section {
    flex-direction: row-reverse;
  }
}

.cta-btn--hero {
  display: block;
  background-color: #4169e1;
  border: 2px solid #2445a6;
  color: #fff;
  border-radius: 0.5rem;
  font-weight: 600;
  padding: 1rem;
  cursor: pointer;
}

.cta-btn--hero:hover {
  background-color: #2445a6;
  color: #fff;
  border: 2px solid #4169e1;
}

.form {
  max-width: 90%;
  margin: 2rem auto 0;
}
@media (min-width: 992px) {
  .form {
    max-width: 80%;
  }
}
.form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: 1.75rem;
}
.form-wrapper input[type=text],
.form-wrapper input[type=password],
.form-wrapper input[type=url],
.form-wrapper textarea {
  width: 100%;
  background-color: #fff;
  border: 1px solid #fe5945;
  padding: 1rem 1rem;
  outline: none;
}
.form-wrapper textarea {
  resize: none;
}
.form-wrapper input[type=submit] {
  width: 100%;
  border: 4px solid #fff;
  background-color: transparent;
  color: #fff;
  padding: 1rem 0.5rem;
  outline: none;
  font-weight: 600;
  cursor: pointer;
}
.form-wrapper input[type=submit]:hover {
  border: 4px solid #fe5945;
  color: #fe5945;
}
.form-msg {
  width: 100%;
  border-bottom: 4px solid #fff200;
  color: #fe5945;
  padding: 0.5rem;
}
.form-hint {
  align-self: flex-start;
  font-size: 1rem;
  color: #fff;
}

.dash-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 1.5rem auto 0;
}
.dash-nav .dash-nav-btn a {
  background-color: #fe5945;
  padding: 0.8rem 0.5rem;
  font-weight: 600;
  color: #fff;
}
.dash-nav .dash-nav-btn a:hover {
  background-color: #fff;
  color: #fe5945;
}/*# sourceMappingURL=style.css.map */